@model SchoolSystem.Web.Areas.Staff.ViewModels.Students.EditStudentViewModel

@{
  ViewBag.Title = "Edit Student - Page";
}


@* ************** Content ************** *@
<div class="row">
  <div class="col-md-12">
    <div class="card mb-6">
      <div class="card-body pt-0">
        @* user alerts? *@

        <partial name="_Alerts"/>

        <form id="formAccountSettings" method="post" asp-action="Edit"
              enctype="multipart/form-data">
          @Html.AntiForgeryToken()
          <input asp-for="Id" type="hidden" aria-hidden="True"/>
          <div asp-validation-summary="ModelOnly"></div>

          <div class="d-flex align-items-start align-items-sm-center gap-6 mt-4">
            <img src="@Model.ProfilePhotoUrl" alt="user-avatar" class="d-block w-px-100 h-px-100
            rounded" id="uploadedAvatar"/>
            <div class="button-wrapper">
              <label for="upload" class="btn btn-sm btn-primary me-3 mb-4" tabindex="0">
                <span class="d-none d-sm-block">Upload New Photo</span>
                <i class="ri-upload-2-line d-block d-sm-none"></i>
                <input asp-for="ProfilePhoto" type="file" id="upload" class="account-file-input"
                       hidden accept="image/png, image/jpeg"/>
              </label>
              <button type="button" class="btn btn-sm btn-outline-danger account-image-reset mb-4">
                <i class="ri-refresh-line d-block d-sm-none"></i>
                <span class="d-none d-sm-block">Reset</span>
              </button>

              <div>Allowed JPG or PNG.</div>
              <span asp-validation-for="ProfilePhoto" class="text-danger"></span>
            </div>
          </div>

          <div class="row mt-1 g-5">
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input asp-for="FirstName" class="form-control" type="text"
                       placeholder="John" autofocus/>
                <label asp-for="FirstName">First Name</label>
              </div>
              <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-6">
              <div class="form-floating form-floating-outline">
                <input asp-for="LastName" class="form-control" type="text"
                       placeholder="Doe"/>
                <label asp-for="LastName">Last Name</label>
              </div>
              <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
          </div>

          <div class="mt-6 d-flex gap-2 flex-wrap">
            <a asp-action="Index" class="btn btn-outline-primary me-3">Back</a>
            <button type="submit" class="btn btn-primary me-3">Update</button>
          </div>
        </form>
      </div>
      <!-- /Account -->
    </div>
  </div>
</div>

@* ************** PageScripts ************** *@

@section PageScripts {
  <script src="~/js/pages-account-settings-account.js"></script>
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
