@{
  ViewBag.Title = "About Page";
}

<div class="contact-us section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8  align-self-center">
        <div class="section-heading">
          <h6>About Us</h6>
          <h2>EduSmart School System</h2>
          <p class="mt-0">This project is part of the <a href="https://cinel.pt"
                                            target="_blan" rel="nofollow">CINEL</a>
            module and aims to
            simulate a comprehensive school system. The goal is to provide a platform that manages various aspects of a school's operations, including student enrollment, course management, and staff administration.</p>
        </div>
      </div>
    </div>
  </div>
</div>
