@{
  ViewData["Title"] = "Home Page";
}

<div class="main-banner" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-carousel owl-banner">
          <div class="item item-1">
            <div class="header-text">
              <span class="category">Our Courses</span>
              <h2>With EduSmart Teachers, Everything Is Easier</h2>
              <p>EduSmart is an online platform designed to manage school systems efficiently.</p>
            </div>
          </div>
          <div class="item item-2">
            <div class="header-text">
              <span class="category">Best Result</span>
              <h2>Get the best result out of your effort</h2>
              <p>Our platform ensures that students can access high-quality education from anywhere, at any time.</p>
            </div>
          </div>
          <div class="item item-3">
            <div class="header-text">
              <span class="category">Online Learning</span>
              <h2>Experience the Best Online Learning with EduSmart</h2>
              <p>EduSmart is an advanced school system that allows students to attend classes online, providing flexibility and convenience.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
