@{
    ViewData["Title"] = "Privacy Policy Page";
}

<div class="contact-us section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 align-self-center">
        <div class="section-heading">
          <h6>Privacy Policy</h6>
          <h2>EduSmart ("we", "our", "us") is committed to protecting your privacy.</h2>
          <p class="mt-0">We only collect cookies when you use our website.
            Cookies are
            small text files that are stored on your device when you visit a website. They help us to improve your experience on our website by remembering your preferences and providing personalized content.</p>
          <h4 class="mt-2">How We Use Cookies</h4>
          <p class="mt-0">We use cookies to:</p>
          <ul>
            <li>Remember your preferences and settings.</li>
            <li>Improve the functionality and performance of our website.</li>
            <li>Analyze how you use our website to improve our services.</li>
          </ul>
          <h4 class="mt-2">Contact Us</h4>
          <p class="mt-0">If you have any questions about this Privacy Policy,
            please
            contact us at armando.costa.33112@formandos.cinel.pt</p>
          <p><strong>Effective Date:</strong> October 6, 2024</p>
        </div>
      </div>
    </div>
  </div>
</div>
