@* @model Web.ViewModels.RegisterViewModel *@
@* *@
@* @{ *@
@*     ViewBag.Title = "Create Coordinator"; *@
@* } *@
@* *@
@* *@
@* <div class="row"> *@
@*     <div class="col-sm-6 col-md-3"> *@
@*         <form asp-action="Create" method="post"> *@
@*             <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="FirstName" class="form-label"></label> *@
@*                 <input asp-for="FirstName" class="form-control"/> *@
@*                 <span asp-validation-for="FirstName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="LastName" class="form-label"></label> *@
@*                 <input asp-for="LastName" class="form-control"/> *@
@*                 <span asp-validation-for="LastName" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Email" class="form-label"></label> *@
@*                 <input asp-for="Email" class="form-control"/> *@
@*                 <span asp-validation-for="Email" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Password" class="form-label"></label> *@
@*                 <input asp-for="Password" class="form-control"/> *@
@*                 <span asp-validation-for="Password" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="ConfirmPassword" class="form-label"></label> *@
@*                 <input asp-for="ConfirmPassword" class="form-control"/> *@
@*                 <span asp-validation-for="ConfirmPassword" class="text-danger"></span> *@
@*             </div> *@
@*             <div class="form-group"> *@
@*                 <label asp-for="Role" class="form-label"></label> *@
@*                 <select asp-for="Role" class="form-select" aria-label="Select Role for the user"> *@
@*                     <option value="@Model.Role" selected>@Model.Role</option> *@
@*                 </select> *@
@*                 <span asp-validation-for="Role" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <label asp-for="ProfileImage" class="form-label"></label> *@
@*                 <input asp-for="ProfileImage" class="form-control" type="file"/> *@
@*                 <span asp-validation-for="ProfileImage" class="text-danger"></span> *@
@*             </div> *@
@* *@
@*             <div class="form-group"> *@
@*                 <button type="submit" class="btn btn-primary">Create</button> *@
@*                 <a asp-action="Index" class="btn btn-secondary">Back to @Model.Role's</a> *@
@*             </div> *@
@*         </form> *@
@*     </div> *@
@* </div> *@
@* *@
@* @section Scripts { *@
@*     @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); } *@
@* } *@
