@model SchoolSystem.Web.ViewModels.Account.ChangePasswordViewModel

@{
  ViewBag.Title = "Account settings - Change password";
}

@section PageStyles {
<link rel="stylesheet" href="~/css/page-profile.css">
}


@* ************** Content ************** *@
<div class="row">
  <div class="col-md-12">

    <div class="nav-align-top">
      <ul class="nav nav-pills flex-column flex-md-row mb-6 gap-2 gap-lg-0">
        <li class="nav-item">
          <a class="nav-link waves-light" asp-action="SettingsEdit"><i class="ri-group-line me-1_5"></i>Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active waves-effect waves-light"
             asp-action="ChangePassword">
            <i class="ri-lock-line me-1_5"></i>Security
          </a>
        </li>
      </ul>
    </div>

    <div class="card mb-6">
      <h5 class="card-header">Change Password</h5>
      <div class="card-body pt-1">
        <partial name="_Alerts"/>
        <form id="formAccountSettings" method="post" asp-action="ChangePassword" enctype="multipart/form-data">
          <div class="row">
            <div class="mb-5 col-md-6 form-password-toggle fv-plugins-icon-container">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input class="form-control" type="password" asp-for="CurrentPassword"
                         placeholder="············">
                  <label asp-for="CurrentPassword">Current Password</label>
                </div>
                <span class="input-group-text cursor-pointer">
                  <i class="ri-eye-off-line ri-20px"></i>
                </span>
              </div>
              <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
          </div>
          <div class="row g-5 mb-6">
            <div class="col-md-6 form-password-toggle fv-plugins-icon-container">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input class="form-control" type="password" asp-for="NewPassword"
                         placeholder="············">
                  <label asp-for="NewPassword">New Password</label>
                </div>
                <span class="input-group-text cursor-pointer">
                  <i class="ri-eye-off-line ri-20px"></i>
                </span>
              </div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="col-md-6 form-password-toggle fv-plugins-icon-container">
              <div class="input-group input-group-merge">
                <div class="form-floating form-floating-outline">
                  <input class="form-control" type="password"
                         asp-for="ConfirmPassword"
                         placeholder="············">
                  <label asp-for="ConfirmPassword">Confirm New Password</label>
                </div>
                <span class="input-group-text cursor-pointer">
                  <i class="ri-eye-off-line ri-20px"></i>
                </span>
              </div>
<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
          </div>
          <h6 class="text-body">Password Requirements:</h6>
          <ul class="ps-4 mb-0">
            <li class="mb-4">Minimum 8 characters long - the more, the better</li>
            <li class="mb-4">At least one lowercase character</li>
            <li>At least one number, symbol, or whitespace character</li>
          </ul>
          <div class="mt-6 d-flex gap-2 flex-wrap">
            <button type="submit" class="btn btn-primary me-3 waves-effect waves-light">Save changes</button>
            <button type="reset" class="btn btn-outline-secondary waves-effect">Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section PageScripts {
  <script src="~/js/pages-account-settings-account.js"></script>
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
